/* Subset of the styles originally provided by azure-devops-ui */

input, select, textarea, button {
	color: inherit;
	font-family: inherit;
	font-size: inherit
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	font-family: "Segoe UI", "-apple-system", BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 0.875rem;
	margin: 0;
}

/* Project specific */

body {
	width: 100%;
	overflow: hidden;
}

#root {
	width: 100%;
}

.intro {
	height: 100%;
	display: flex;
	flex-direction: column;

	padding: 0;
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing */
	padding-top: 1px; /* prevent h1 margin collapse */
	/* background-color: rgb(248, 248, 248); */

	position: relative;
}

.introHeader {
	display: flex;
	align-items: center;
	padding: 0 32px;
	padding-top: 8px;
}

.introHeader .bolt-button {
	margin-left: 12px;
}

h1 {
	font-size: 24px;
	margin-top: 16px;
	margin-bottom: 16px;
	flex: 1 1 auto;
}

textarea {
	width: 100%;
	flex: 1 1 auto;
	border: 0;
	/* border-color: rgb(200, 200, 200); */
	/* padding: 5px 11px 5px 8px; */
	padding: 32px;
	padding-top: 16px;
	font: 14px monospace !important;
	resize: none;
	outline: none;
}

.viewer {
	pointer-events: none;
	position: absolute;
	opacity: 0;
	top: 180px;
	left: 0; right: 0;
	height: 100%;
	box-shadow:
		0 0px 5px 2px rgba(0, 0, 0, 0.10);
	transition: top 500ms ease-in-out, opacity 250ms 250ms;
}

.viewer.viewerActive {
	pointer-events: initial;
	opacity: 1;
	top: 80px;
	transition: top 500ms, opacity 250ms;
}